<div class="wrapper">
    <div class="result">
        <div class="titles">
            <h3>술자리에서 2차, 3차 외치는</h3>
            <h3>"태양인(太陽人)"</h3>
        </div>
        <div class="result_img">
            <img src = '/static/어피치.png' width = '200pix'> 
        </div>
    </div>
    <div class="result_explains">
        <div class="result_explains">
            <div class="explain">
    <ul>
        <li>
            태양인은 간이 비교적 약해 술에 대한 해독능력이 약함에도 술을 좋아하는 경우가 많은 편.
        </li>
    
        <li>
            현실 생활에서 만족을 느끼지 못하는 경우가 많아 술을 마시면 주사를 부리기도 하니 주의가 요망됨. 
        </li>
    
    </ul>
          </div>
          <div class="explain">
              <h3 class="title">당신에게 맞는 술은?</h3>
              <h4 class="sub_title">“포도주가 최고 독주는 금물”</h4>
              <ul>
                <li>
                    도수가 높은 술을 마시면 몸의 원기가 손상될 수 있으므로 도수가 낮은 술이 좋다. 
                </li>
                <li>
                    포도주가 가장 좋고 생맥주도 괜찮으나. 소주.양주 등 독한 술을 가능한 한 적게 마시는 게 좋다
                </li>
                <li>
                    태양인에게 맞는 한약재인 모과.오가피.솔잎.머루 등을 소주에 담가 약주로 조금씩 마시는 것도 좋다. 
                </li>
        
              </ul>
          </div>
          <div class="explain">
              <h3 class="title">추천하는 안주!</h3>
              <ul class="menu_lists">
                  <li>
                        조개찜 또는 국. 해산물, 구이, 과일
                  </li>
              </ul>
          </div>
          <div class="explain">
            <h3 class="title">숙취해소 음식!</h3>
            <ul class="menu_lists">
                <li>
                    키위차, 모과차, 조개국, 메밀죽
                </li>
            </ul>
        </div>
        </div>